%li.clearfix.event.question{:id => html[:id] || dom_id(question), :style => html[:style]}
  .avatar
    = link_to(image_tag(user.avatar, :size => "48x48"), user_path(user))
  .content
    %span.author= link_to h(user), user_path(user)
    asked:
    %span.body= h question.body
    %span.details
      %span.time
        = time_ago_in_words(question.created_at, include_seconds = false)
        ago
      %span.answers_count= "#{question.answers.count} answers"
      %span.links
        = link_to "Answer", question_answers_path(question)
  