%li.clearfix.event.question{:id => html[:id] || dom_id(question), :style => html[:style]}
  .avatar
    = link_to(image_tag(user.avatar, :size => "48x48"), user_path(user))
  .content
    %strong HYEWYE
    %span.body
      = linkify(question.body)
    %span.details
      %span.author
        by
        = link_to h(user), user_path(user) 
      %span.time
        = time_ago_in_words(question.created_at, include_seconds = false)
        ago
      %span.answers_count= link_to "#{question.answers.count} answers", question_answers_path(question)
      %span.links
        = link_to "Answer", question_answers_path(question)
  %span.tweetmeme
    = render :partial => "shared/tweetmeme_button", :locals => {:hyewye_event_url => question_answers_url(question)}
