- title "Edit account"

.account
  - semantic_form_for @user, :url => account_path do |f|
    - f.inputs "General information" do
      = f.input :screen_name, :input_html => {:readonly => true}
      = f.input :name
      = f.input :location
    - if @user.using_twitter?
      - f.inputs "Twitter" do
        = f.input :tweet_activity, :label => "tweet my activity"
    - else
      - f.buttons :name => "Twitter", :id => "twitter" do
        = oauth_register_button :value => "Authorize with Twitter", :class => 'twitter'
      - f.inputs "Account information" do
        = f.input :password
        = f.input :password_confirmation
    - f.buttons :id => "save" do
      = f.commit_button "Save"
      