#menu.green_bar
  .c
    %ul.clearfix
      %li= link_to 'home', '/'
      %li= link_to 'about us', '#'
      %li= link_to 'privacy', '#'
      %li= link_to 'terms of use', '#'
      %li= link_to 'contact', '#'
   
#copyright
  .bd
    .c
      Copyright &copy; 2009 Galar Systems, Inc. - All Rights reserved.
  .ft
    .c