#logo
  = link_to 'HyeWye', '/'

#login-bar.clearfix
  - if current_user
    %ul
      %li= "Welcome #{current_user}"
      %li= link_to "My account", edit_account_path
      %li= link_to "Sign out", user_session_path, :method => 'delete'
  - else
    %ul
      %li Already a member?
      %li= link_to "Login", new_user_session_path
    
#banner.clearfix
  .hd
    .c
  .bd.clearfix
    #phrase Have You Ever... Would You Ever... ? 
    - if current_user
      #question_button
        = link_to "Ask a question", new_question_path
    - else
      #slogan.clearfix
        %p.first Do you ever wonder what others would do in your situation?
        %p.second Ever want to tap into someone else’s experience?
        %p.third
          With
          %span HYEWYE
          \, you can easily ask the community what they would do and keep track of their answers.
        #sign-up
          = link_to "Sign up now!", new_account_path
          %p.first-line Join with one click
          %p.second-line using your Twitter account

#bottom.green_bar
  .c
    Fun and easy way to find out what your friends are thinking.
