#left-col
  #question.clearfix
    #user
      = link_to(image_tag(@question.user.avatar), user_path(@question.user))
      = link_to @question.user, user_path(@question.user)
      Wanted to know:
    %h2#question-body
      Have You Ever / Would You Ever
      = h @question
      
    #stats
      - unless @question.answers.size == 0
        .i_have= "#{@question.i_have_percent}% have"
        .i_would= "#{@question.i_would_percent}% would"
        .i_would_never= "#{@question.i_would_never_percent}% would never"
      
    - if !current_user
      #nav
        = link_to "Let me Answer!", new_user_session_path(:return_to => request.request_uri)

  #answer-list-heading    
    What other people said:
  %ul{:id => "answers-list"}
    - @answers.each do |answer|
      = render_event(answer, :locals => { :hide_link => true })
    

  = will_paginate @answers
  
#right-col  
  - if current_user
    = render :partial => "form"


