%h3
  Have you ever / would you ever
  = h @question.body

%table#answers
  %tr
    %th Choice
    %th Answer

  - @answers.each do |answer|
    %tr{ :id => dom_id(answer) }
      %td= ["I Have", "I Would", "I Would Never"][answer.choice-1]
      %td= h answer.body 
 
  
- if current_user
  = render :partial => "form"
- else
  = link_to "Log in to answer this question", new_user_session_path(:return_to => request.request_uri)
