= link_to @question.user.login, user_path(@question.user)
asked:
%h4
  Have you ever / would you ever
  = h @question.body

%table#answers
  %tr
    %th User
    %th Choice
    %th Answer

  - @answers.each do |answer|
    %tr{ :id => dom_id(answer) }
      %td= link_to answer.user.login, user_path(answer.user)
      %td= ["I Have", "I Would", "I Would Never"][answer.choice-1]
      %td= h answer.body 

= will_paginate @answers
  
- if current_user
  = render :partial => "form"
- else
  = link_to "Log in to answer this question", new_user_session_path(:return_to => request.request_uri)
