- title "Have You Ever / Would You Ever #{@question}", false

- with_sidebar

#question.clearfix
  .user.clearfix
    .image
      = link_to(image_tag(@question.user.avatar), user_path(@question.user))
    .content
      = link_to @question.user, user_path(@question.user)
      %span.wanted-to-know wanted to know:
      #question-body
        Have You Ever / Would You Ever
        = linkify @question
    %span.tweetmeme
      = render "shared/tweetmeme_button", :hyewye_event_url => question_answers_url(@question)
#answer_form
  - if current_user
    = render :partial => "form"
  - else
    #nav
      = link_to "Let me Answer!", new_user_session_path(:return_to => request.request_uri)

- if @answers.length > 0
  #answer-list-heading
    %h2 What other people said:
  
  %ul#answers-list
    - @answers.each do |answer|
      = render_event(answer, :locals => { :hide_link => true, :hide_tweetmeme => true })

  = will_paginate @answers
  
- content_for :sidebar do
  - unless @question.answers.size == 0
    =render "shared/stats", :question => @question