/ - title "Recent posts"

#left-col
  #event-list-heading
    Recent Posts:
  %ul#events-list
    - present_events(@events).each_with_index do |event, index|
      %li.event{ :id => "event_#{@events.size - index}", :style=> "#{(@events.size - index) <= 10 ? 'display:block' : 'display:none'}"}
        .user
          = link_to(image_tag(event.user.avatar), user_path(event.user))
        %div{:id => event.dom_id, :class => event.dom_class}
          .event-body
            = event.link_to_user
            said:
            = h event.body 
            - event.when_answer do
              = event.choice
            = event.link_to_question("Answer")
#right-col
  #nav
    = link_to "Ask a question", new_question_path
.clear


