!!!
%html{html_attrs}
  %head
    = title_tag
    %meta{"http-equiv"=>"Content-type", :content=>"text/html; charset=utf-8"}
    = stylesheet_link_tag 'reset-fonts-grids', 'master', 'formtastic', 'formtastic_changes', :cache => 'site'
    = javascript_include_tag 'jquery', 'application', :cache => 'site'
    = yield(:head)
    
    /[if lte IE 6]
      = stylesheet_link_tag "ie6"
  %body{ :class => controller.controller_name, :id => controller.action_name }
    #doc5
      #hd{ :class => current_user ? "signed_in" : "guest"}
        = render :partial => "shared/header"
      #bd{ :class => @sidebar ? "with_sidebar" : "without_sidebar"}
        #container
          #main-content
            .yui-g.clearfix
              .yui-u.first
                = render :partial => "shared/flash", :object => flash
                - if show_title?
                  %h2= h yield(:title)
                = yield
              #sidebar.yui-u
                = yield(:sidebar)
      #ft
        = render :partial => "shared/footer"
    = USER_VOICE
    = GOOGLE_ANALYTICS
    